.main {
  align-items: center;
  justify-content: center;
  display: flex;
}

.skillsContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  height: 95%;
  width: 100%;
}

.skillsContent h1 {
  color: #87CEEB;
  margin-bottom: 20px;
}

.skillsTable {
  border: 5px solid #87CEEB;
  border-radius: 15px;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsRow {
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 90%;
  margin-top: 1%;
}

.skill {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  justify-content: center;
  align-items: center;
  background: #547f91;
  border-radius: 15px;
  border: 2px solid #545454;
  transition: box-shadow 0.5s;
}



@media (min-width: 1120px) {
  .main {
    height: 100vh;
    width: 100vw;
  }

  .sections {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}


@media (max-width: 1119px) and (min-width: 1px) {
  .main {
    flex-direction: column;
    gap: 6vh;
    min-height: 100vh;
    min-width: 100vw;
    margin: 5% 0;
  }

  .sections {
    height: 90vh;
    width: 90%;
    border-radius: 15px;
  }
}



@media (hover: hover) and (pointer: fine) {
  .skill:hover {
    box-shadow: 0 0 10px #9ecaed;
    cursor: pointer;
  }
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
